form{
    font-size: 17px;
    .name{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
    input{
        padding: 10px 20px;
    }
    input[type=email]{
        width: 40%;
        margin-top: 10px;
    }
}